@import "../../styles/Index.module.scss";

.transactions{
  width: 90%;
  background-color: #fff;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 32px;
  border-radius: 32px 32px 0 0;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  

  @media screen and (max-width: 700px) {
    width: 90%;
    padding: 24px;
  }
}

.actionsOnTransactions{
  width: 95%;
  margin: auto;
  
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (max-width: 700px) {
    width: 98%;
    justify-content: center;
  }

}

.icon__order{
  margin-left: 10px;
  color: #797979;
}

.icon__order:hover{
  color: #282828;
}

.filters{
  margin: 0;
}

.buttonAddTransaction{
  margin-right: 20px;

}

.header{
  width: 90%;
  background-color: $color1;
  margin: auto;
  margin-top: 16px;
  padding: 8px 32px;
  border-radius: 32px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  @media screen and (max-width: 700px) {
    width: 100%;
    padding: 24px;
  }
}

.addFilters__div{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.addFilters__button {
  background-color: $color4;
  padding: 10px 14px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  transition: 1s;
  min-height: 40px;

}

.addFilters__button:hover{
  background-color: rgb(228, 100, 2);
  scale: 1.1;
  transition: 1s;
}

.icon__addFilters {
  height: 15px;
  width: 15px;
  color: #fff;
  margin-right: 20px;

}

.icon__closeFilters {
  height: 20px;
  width: 20px;
  color: #fff;
  margin-right: 20px;

}