@import "./Index.module.scss";

.col40{
  width: 40%;
  margin-bottom: 16px;
  
  @media screen and (max-width: 700px) {
    width: 40%;
    margin-bottom: 8px;
  }
}

.col60{
  width: 60%;
  margin-bottom: 16px;

  @media screen and (max-width: 700px) {
    width: 100%;
    margin-bottom: 8px;
  }
}

.col10{
  width: 20%;
  text-align: center;
  margin-bottom: 16px;

  @media screen and (max-width: 700px) {
    width: 20%;
    margin-bottom: 8px;
  }
}

.col100{
  width: 100%;
  margin-bottom: 16px;
  

  @media screen and (max-width: 700px) {
    width: 100%;
    margin-bottom: 8px;
  }
}

.message{
  color: $color6;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-left: 16px;
  text-align: left;

  @media screen and (max-width: 700px) {
    margin-left: 8px;
    font-size: 9px;
  }
  
}

.hidden {
  visibility: hidden;
  display: none;
}


.button{
  padding: 4px 8px;
  margin: 4px;
  border-radius: 8px;
  border: 2px solid #b8b8b8;
  font-size: 12px;
  background-color: #f8f8f8;
  text-transform: uppercase;

  @media screen and (max-width: 700px) {
    font-size: 9px;
    border: 1px solid #b8b8b8;
    margin: 2px;
  }
}

.button:hover{
  border: rgb(36, 36, 36) 2px solid;

  @media screen and (max-width: 700px) {
    border: rgb(36, 36, 36) 1px solid;
  }

}

.selected{
  outline: 0;
  border: rgb(36, 36, 36) 2px solid;
  background-color: rgb(36, 36, 36);
  color: #fff;
  font-weight: 600;

  @media screen and (max-width: 700px) {
    border: rgb(36, 36, 36) 1px solid;
  }

}

.icon{
  margin-right: 8px;
  height: 12px;
  width: 12px;
  margin-bottom: -2px;
}


.labelAdd{
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.2s;
  margin-left: 16px;
  margin-right: 16px;

  @media screen and (max-width: 700px) {
    font-size: 9px;
    font-weight: 600;
    margin-right: 8px;
  }

}

.inputAdd{
  border: 0;
  border: 2px #b8b8b8 solid;
  padding: 8px;
  width: calc(100% - 20px);
  background: transparent;
  border-radius: 16px;
  font-size: 14px;

  @media screen and (max-width: 700px) {
    font-size: 12px;
    padding: 5px;
    width: calc(100% - 20px);
    margin-right: 2px;
    margin-left: 2px;
  }
}

.inputAdd:hover{
  border: $color1 3px solid;
}

.inputAdd:focus{
  outline: 0;
  border: $color1 3px solid;
  background: transparent;
}
