@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background-color: #f1f1f1;
}

html {
  font-family: 'Montserrat', sans-serif;
}

$color1 : #03A678;
$color2 : #02735E;
$color3 : #014040;
$color4 : #F27405;
$color5 : #731702;
$color6 : #FF2948;
