.containerFilters{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 10px;
}

.label {
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 10px;
}

.input {
  border-radius: 15px;
  padding: 3px;
  border: 1px;
  font-size: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

.separador{
  margin-top: 5px;
  margin-bottom: 5px;
  height: 5px;
  min-height: 5px;
  border: 5px #000 solid;
}