@import "../../styles/Index.module.scss";

.containerFilters{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  
}

.containerFilters__date{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  
}

.input {
  border-radius: 15px;
  width: 80%;
  border: 0;
  font-size: 11px;
  text-transform: uppercase;
  background-color: #f1f1f1;
  height: 30px;
  padding-left: 5%;

  @media screen and (max-width:700px) {
    width: 90%;    
  }
}

.input__data {
  border-radius: 15px;
  width: 80%;
  border: 1px;
  font-size: 11px;
  padding-left: 5%;
  padding-right: 1%;
  text-transform: uppercase;
  height: 30px;

  @media screen and (max-width:700px) {
    width: 90%;    
  }
}

.filter{
  width: 24%;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  
  @media screen and (max-width:700px) {
    width: 50%;
    margin-bottom: 5px;
  }
}

.filter__data{
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  
  
  @media screen and (max-width:700px) {
    width: 50%;
    margin-bottom: 20px;
    min-width: 180px;
  }
}
