@import "../../styles/Index.module.scss";

.transaction {
  border-bottom: 1px solid #d3d3d3;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  min-height: 40px;
  align-items: center;
  font-size: 12px;

  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-wrap: wrap;
  flex-direction: row;

  @media screen and (max-width: 700px) {
    padding-bottom: 20px;
    margin-bottom: 20px;
}


}

.content__date{
  margin: 0;
  width: 12%;
  align-items: center;
  min-height:40px;
  text-align: left;
  float: left;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 700px) {
    width: 40%;
    min-height: 30px;
  }
  
}

.content__description{
  margin: 0;
  width: 20%;
  min-height:40px;
  float: left;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 700px) {
    width: 60%;
    min-height: 30px;
  }
}




.content__category{
  margin: 0;
  width: 18%;
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 600;
  min-height:40px;
  text-transform: uppercase;
  float: left;
  

  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 700px) {
    width: 40%;
    min-height: 30px;
  }

}



.content__amountexpense{
  margin: 0;
  width: 15%;
  font-weight: 600;
  color: $color6;
  min-height:40px;
  float: left;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 700px) {
    width: 40%;
    min-height: 30px;
  }
}

.content__amountincomes{
  margin: 0;
  width: 15%;
  font-weight: 600;
  color: $color2;
  min-height:40px;
  float: left;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 700px) {
    width: 40%;
    min-height: 30px;
  }
}


.content__paid{
  margin: 0;
  width: 7.5%;
  min-height:40px;
  float: left;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media screen and (max-width: 700px) {
    width: 20%;
    justify-content: center;
    min-height: 30px;
  }
}



.content__account{
  margin: 0;
  width: 15%;
  font-size: 10px;
  min-height:40px;
  text-transform: uppercase;
  color: #7e7e7e;
  float: left;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 700px) {
    width: 40%;
    min-height: 30px;
  }
  
}

.content__reccurence{
  margin: 0;
  width: 5%;
  min-height:40px;
  float: left;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  text-transform: uppercase;
  color: #7e7e7e;

  @media screen and (max-width: 700px) {
    width: 40%;
    min-height: 30px;
  }
}



.content__action{
  margin: 0;
  width: 7.5%;
  min-height:40px;
  text-align: right;
  float: left;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 700px) {
    width: 20%;
    min-height: 30px;
    justify-content: center;
  }
}


.icon{
  width: 10px;
  height: 10px;
  color: $color4;
}

.icon__expense{
  width: 10px;
  height: 10px;
  color: $color6;
}

.icon__incomes{
  width: 10px;
  height: 10px;
  color: $color2;
}

.icon__paid {
  color:  $color2;
  transition: 2s;
  height: 20px;
  width: 20px;
}

.icon__notPaid {
  color:  $color6;
  transition: 2s;
  height: 20px;
  width: 20px;
}

.icon__action {
  color:  #7e7e7e;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.icon__date{
  width: 15px;
  margin-right: 5px;
  color: $color2;
}

.icon__category{
  width: 15px;
  margin-right: 5px;
  color: $color2;
}
